* {margin: 0; padding: 0;}
 
body {}

.card {
  cursor: pointer;
  float: left;
  position: relative;
  margin-right: 10px;
  width: 78px;
  height: 110px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}
.deck .card, .out .card {
	margin-left: -60px;
}
.card p {
  text-align: center;
  font: 60px/110px Tahoma, Verdana, Georgia, Times New Roman, serif;
}
.suitdiamonds:before, .suitdiamonds:after {
  content: "♦";
  color: #ff0000;
}
 
.suithearts:before, .suithearts:after {
  content: "♥";
  color: #ff0000;
}
 
.suitclubs:before, .suitclubs:after {
  content: "♣";
  color: #000;
}
 
.suitspades:before, .suitspades:after {
  content: "♠";
  color: #000;
}
.back {
	background: url(../images/back.jpg) no-repeat;
	background-size: contain;
}
div[class*='suit']:before {
  position: absolute;
  left: 5px;
  top: 5px;
}
 
div[class*='suit']:after {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.deck, .out {
	margin: 30px 0 30px 0;
	padding-left: 60px;
}
.dealer, .hand {
	margin: 30px 0 30px 0;
}
.dealer .card:first-child, .hand .card:first-child {
	margin-right: -15px;
	margin-top: 30px;
}
